.heroes-list-container {
  max-width: 95%;
  margin: 50px auto;

  .filter-create-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .chart-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
}

